<!-- alert -->
<app-navbar></app-navbar>
<div *ngIf="isSuccess" class="p-5 my-3 container mx-auto  bg-blue-100 text-blue-600">{{alertmsg}}</div>

<div class="container mx-auto my-16 shadow-2xl border-2 border-gray-900 rounded-t-xl">

    <div class="grid grid-cols-2 ">
        <div class="">
            <div class="flex flex-col w-full items-center">

                <img [src]="siteImgUrl" class=" " alt="">
            </div>
            <div class="flex border-2 border-gray-900 justify-center rounded-2xl mx-4 my-6 font-bold text-blue-700 ">

                <h3 class=" text-xl  border-r-2 px-2 text-black border-gray-900">{{siteName}} </h3>
                <div class=" ">
                    <div class=" text-xl px-2 rounded-r-2xl w-full ">
                        {{siteUrl}}
                    </div>
                </div>
            </div>
        </div>
        <div class="px-20 py-7  my-5 ">
            <h2 class="text-3xl text-center"> {{formState}} User & Password </h2>
            <p class="text-center"> You can {{formState.toLowerCase()}} Username & Password from the below form</p>
            <form #f='ngForm' (ngSubmit)="onSubmit(f.value)">
                <div class="flex flex-col">
                    <label for="email" class="text-lg font-medium mb-2"> Email </label>
                    <input id="email" [(ngModel)]="email" type="email" name="email"
                        class="border-2 border-gray-700 rounded  mb-2">
                </div>
                <div class="flex flex-col">
                    <label for="username" class="text-lg font-medium mb-2"> UserName </label>
                    <input id="username" [(ngModel)]="name" type="text" name="name"
                        class="border-2 border-gray-700 rounded mb-2">
                </div>
                <div class="flex flex-col">
                    <label for="password" class="text-lg font-medium mb-2"> Password </label>
                    <input id="password" [(ngModel)]="password" type="password" name="password"
                        class="border-2 border-gray-700 rounded mb-2">
                </div>
                <div class="flex flex-col">
                    <button
                        class="shadow-lg rounded-lg bg-gray-700 text-white font-bold px-3 py-3 self-center hover:bg-black my-2">
                        {{formState}} Password</button>
                </div>
            </form>
        </div>
    </div>

    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900 border-l-transparent p-3"> Email </th>
                    <th class="border-2 border-gray-900 p-3"> Username </th>
                    <th class="border-2 border-gray-900 p-3"> Password </th>
                    <th class="border-2 border-gray-900 border-r-transparent p-3"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-14" *ngFor="let pass of allPass , let i = index">
                    <td class="border border-gray-700   p-3"> {{pass.email}}</td>
                    <td class="border border-gray-700   p-3"> {{pass.name}}</td>
                    <td class="border border-gray-700   p-3"> {{pass.password}}
                        <button (click)="decryptPassword(pass.password,i)"
                            class="mx-0.5 px-3 py-2 text-sm  bg-red-500 text-white rounded-lg shadow-lg">decrypt</button>
                    </td>
                    <td class=" border border-gray-700  p-3 ">
                        <div class="flex justify-evenly">


                            <button (click)="editPass(pass.id,pass.email,pass.name,pass.password)"
                                class="nx-0.5 px-5 py-3 text-sm bg-gray-900 text-white  rounded-lg shadow-lg">
                                Edit
                            </button>
                            <button (click)="deletePass(pass.id)"
                                class="mx-0.5 px-5 py-3 text-sm  bg-red-500 text-white rounded-lg shadow-lg">
                                Delete
                            </button>
                        </div>
                    </td>
            </tbody>
        </table>
    </div>
</div>